.portfolioItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #424242;
  text-decoration: none;
}


.portfolioItem__title {
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  color: #FFFFFF;
  margin-bottom: 20px;
}

@media screen and (max-width: 570px) {
  .portfolioItem {
    border-bottom: 1px solid #E6E6E6;
  }

  .portfolioItem__title {
    font-size: 18px;
    line-height: 28px;
  }
}