.footer {
  max-width: 100%;
  background-color: #202020;
  padding: 80px 70px 20px;
}

.footer__text {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #8B8B8B;
  padding: 0 0 20px;
  margin: 0;
  border-bottom: 1px solid #424242;
}

.footer__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__infoDate {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: white;
}

.footer__infoLink {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: right;
  color: #FFFFFF;
  text-decoration: none;
}

.footer__infoLink:first-of-type {
  margin-right: 20px;
}