.sectionHeader {
  width: 100%;
  border-bottom: 1px solid #DADADA;
}

.sectionHeader__title {
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  color: white;
  margin: 0 0 23px;
}