.promo {
  max-width: 100%;
  background-color: #073042;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 75px 70px;
}

.promo_adaptive_type {
  display: none;
}

.promo__text {
  max-width: 640px;
  min-height: 174px;
  text-align: start;
}

.promo__title {
  max-width: 100%;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  color: white;
  margin: 0 0 36px;
}

.promo__subtitle {
  max-width: 310px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: white;
  opacity: 0.5;
  margin: 0 0 146px;
}

.promo__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 36px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  transition: 0.3s ease;
  border-radius: 3px;
  padding: 0;
}

.promo__button:hover {
  transition: 0.3s ease;
  opacity: 0.5;
  transform: scale(1.02);
}

@media screen and (max-width: 768px) {
  .promo {
    display: none;
  }

  .promo_adaptive_type {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .promo__image {
    margin-bottom: 48px;
  }

  .promo__text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .promo__title {
    text-align: center;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 22px;
  }

  .promo__subtitle {
    text-align: center;
    margin-bottom: 92px;
  }
}

@media screen and (max-width: 320px) {
  .promo_adaptive_type {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 10px 30px;
  }

  .promo__image {
    max-width: 210px;
    margin-bottom: 44px;
  }

  .promo__title {
    max-width: 300px;
    text-align: center;
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 22px;
  }

  .promo__subtitle {
    max-width: 260px;
    text-align: center;
    margin-bottom: 80px;
  }
}