.navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 45px;
}

.navigation__link {
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: white;
}

.navigation__link:first-of-type {
  margin-right: 16px;
}

.navigation__profileTitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: white;
  margin-right: 17px;
}

.navigation__profileIconBox {
  width: 26px;
  height: 30px;
  border-radius: 4px;
  background-color: #313131;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation__profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}